body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    text-align: left;
}
h1 {
    margin-top: 30px;
    color: #333;
    text-align: left;
}

.contact-info {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: fit-content;
    margin: 20px auto;
    text-align: left;
}

.contact-info p {
    margin: 5px 0;
    color: #555
}

.about-me {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: fit-content;
    text-align: left;
}