[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

body {
    padding: 0;
    margin: 0;
}

.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

.tab {
    cursor: pointer;
    padding: 10px;
}

.tab.active {
    background-color: #CCC;
}

.tab:hover {
    background-color: #AAA;
}

.tab-content {
    margin-left: 20px;
    margin-right: 20px;
    background-color: #f9f9f9; /* Change background to make it distinct */
    font-size: 2rem; /* Increasing font size */
    line-height: 1.6; /* Increasing line spacing for readability */
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}

